.unicodeCard {
  font-size: 100px;
}

.unicodeCardBack {
  font-size: 100px;
}

body {
  background-color: #F9F9F9;
}

#waves{
  width: 100%;
}


.rightside {
  margin-top: 75px;
  margin-left: 20px;
  text-align: center;
}

.leftside {
  margin-top: 100px;
  margin-left: 5px;
}

#player1Winner, #player2Winner {
  display: none;
}

#resize {
  width: 9%;
}
