body {
  background-image: url(../img/simpsonsbackground.jpg);
  font-family: 'Open Sans', sans-serif;
}

/*landing page*/

.panel {
  border-color: #5bc0de;
}

.rightside {
  margin-top: 75px;
  margin-left: 20px;
  text-align: center;
}

.leftside {
  margin-top: 100px;
  margin-left: 5px;
}

/*game page*/

.newGame {
  margin-top: 10px;
  margin-bottom: 25px;
  text-align: center;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 70px;
}

.well {
  border-color: #5bc0de;
}

.turn {
  height: 300px;
  overflow: hidden;
}

.chosen {
  box-shadow: 5px 5px 5px black;
}

.donut {
  width: 40%;
  float: right;
}

.end {
  width: 40%;
  margin-bottom: 10px;
}

.playerWell {
  text-align: center;
  display: none;
}

#guessButton, .goFishButton {
  font-family: 'Gloria Hallelujah', cursive;
}

.imgResize {
  width: 50%;
  margin-top: 5px;
}

#player1Winner, #player2Winner {
  display: none;
  margin-top: 10px;
  text-align: center;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 70px;
}
